.mainpanel {
  margin-top: 2em;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  touch-action: manipulation;
  transition-delay: 2s;
}

.stop_animation {
  scroll-snap-type: unset;
  scroll-behavior: auto;
}

.content {
  width: 100%;
  flex: none;
  scroll-snap-align: start;
}
