.slide {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 500px;
  height: 500px;
  background: rgba(51, 51, 51, 0.137);
}

.movePanel {
  overflow: hidden;
  display: flex;
}

.panel {
  flex: none;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.39);
}
