.slide {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 500px;
  height: 500px;
  background: #33333323;
}

.movePanel {
  overflow: hidden;
  display: flex;
  transition: 0.8s;
}

.panel {
  flex: none;
  width: 100%;
  height: 100%;
  background: #ff000063;
}
