.movePanel {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.movePanel * {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

.slide {
  display: flex;
  flex-direction: row;
  will-change: transform;
  touch-action: pan-y;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  user-select: none;
  transition: transform 0.3s ease-out;
}

.stopanimation .slide {
  transition: none;
}

.panel {
  flex: none;
  width: 100%;
  height: 100%;
  user-select: none;
}
