.container {
  width: 700px;
  height: 400px;
  margin: 8em auto;
}

.content {
  width: 250px;
  height: 150px;
  margin: 0 18px;
  background: #333;
}

.content2 {
  width: 500px;
  height: 150px;
  margin: 0 18px;
  background: #333;
}

.content3 {
  width: 350px;
  height: 150px;
  margin: 0 18px;
  background: #333;
}
